.menu{
  font-weight: bold;
  background-color: #eee;
  margin: 0px 3px 0px 3px;
}
.menu p{
  margin:0px 3px 0px 3px !important;
}
.menu p:hover{
  background-color:#2185d0;
  color: white;
  cursor: pointer;
}
button{
  background-color: #2185d0;
  color: white;
  border-radius: 8px;
}
.navbar{
  background-image: linear-gradient(to bottom,#a5cae5 0,#a5cae5 100%) !important;
  color: #efefea;
}
.navbar-default .navbar-nav>li>a {
    color: #295061;
    font-size: 12px;
    font-weight: 700;
}
.navbar-default .navbar-nav>li:hover {
    color: #295061;
    background-color:#efefea;
    font-size: 12px;
    font-weight: 700;
}
.navbar-brand {
    display: inline-block;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-right: 1rem;
    font-size: 20px !important;
    line-height: inherit;
    white-space: nowrap;
    font-family: 'Federant', cursive;
    font-style: italic;
}
.login-form{
  text-align: left;
    background: #f2f2f2;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(242, 242, 242);
    padding: 20px;
    margin-left: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    height: 390px;
    width: 350px;
}
hr {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #1d1d1d;
}
header-bar h4{
  margin: 20px auto 20px auto;
}
#nav-button{
  padding: 0 0 0;
  background-color: #a5cae5;
}
#nav-button button{
  position: absolute;
  top: 6px;
  left: 10px;

}
#home-menu{
  background-color: #383d49;
  color: white;
  width: 360px;
}
#home-menu p{
  padding-left: 5px;
}
#home-menu p:hover{
  background-color: #dee3ef;
  color: black;
}
